In [ ]:
##LAB 3-1 /문제_1
score = int(input("game_score = "))
if score > 1000:
  print("당신은 고수입니다.")

game_score = 1300
당신은 고수입니다.

In [ ]:
##LAB 3-1 /문제_2
a = int(input("num_a = "))
b = int(input("num_b = "))
if a > b:
  print("num_a가 더 많습니다.")
elif a == b:
  print("두 값이 일치합니다.")
else:
  print("num_b가 더 많습니다")

num_a = 300
num_b = 300
두 값이 일치합니다.

In [ ]:
##LAB 3-2 /문제_1
n = int(input("정수를 입력하세요 : " ))
if n < 101 and n > 0:
  print("n =", n)
  if n % 2 == 0:
    print(n,"은(는) 짝수입니다.")

정수를 입력하세요 : 50
n = 50
50 은(는) 짝수입니다.

In [ ]:
##LAB 3-2 /문제_2
x = int(input("정수를 입력하세요 : "))
if x < 101 and x > -101:
  print("x = ", x)
  if x > 0:
    print(x,"은/는 자연수입니다.")

정수를 입력하세요 : -10
x =  -10

In [ ]:
##LAB 3-3 /문제_1
score = int(input("게임점수를 입력하세요 : "))
if score < 1000:
  print("game_score = {} \n입문자입니다.".format(score))
else:
  print("game_score = {} \n고수입니다.".format(score))

게임점수를 입력하세요 : 1300
game_score = 1300
고수입니다.

In [ ]:
##LAB 3-3 /문제_2
x = int(input("한 정수를 입력하세요 : "))
y = int(input("다른 정수를 입력하세요: "))
if x > y and x < y:
  print("두 값이 일치하지 않습니다.")
else:
  print("두 값이 일치합니다.")

한 정수를 입력하세요 : 300
다른 정수를 입력하세요: 300
두 값이 일치합니다.

In [ ]:
##LAB 3-3 /문제_3
a = str(input("당신은 성인인가요(성인이면 1, 미성년이면 0):"))
if a == '0':
  print("당신은 미성년자입니다.")
elif a == '1':
  s = input("결혼 하셨나요(기혼이면 1, 미혼이면 0):")
  if s == '0':
    print("당신은 결혼하지 않은 성인입니다.")
  if s == '1':
    print("당신은 결혼한성인입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0):1
결혼 하셨나요(기혼이면 1, 미혼이면 0):0
당신은 결혼하지 않은 성인입니다.

In [ ]:
##LAB 3-4 /문제_1
num = 2
if num < 10 and num > 1:
  print(True)
else:
  print(False)

True

In [ ]:
##LAB 3-4 /문제_2
age = 12
if age > 10 and age < 19:
  print("age = {} \n청소년입니다".format(age))
else:
  print("age = {}".format(age))

age = 12
청소년입니다

In [ ]:
##LAB 3-5
speed = int(input("자동차의 속도를 입력하세요(단위 : km/h):"))
if speed > 100:
  print("고속")
elif speed < 100 and speed > 60:
  print("중속")
else:
  print("저속")

자동차의 속도를 입력하세요(단위 : km/h):75
중속

In [ ]:
##LAB 3-6 /문제_1
for i in range(5):
  print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [ ]:
##LAB 3-6 /문제_2
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
##LAB 3-7 /문제_1
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
##LAB 3-7 /문제_2
list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
##LAB /문제_3
list(range(1,100, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
##LAB 3-7 /문제_4
list(range(-99,0))

[-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]

In [ ]:
#LAB 3-8 /문제_1
s = 0
for i in range(1,101):
  s = s + i
  print('i = {}, s = {}'.format(i,s))

print("1에서 100까지의 합:",s)

i = 1, s = 1
i = 2, s = 3
i = 3, s = 6
i = 4, s = 10
i = 5, s = 15
i = 6, s = 21
i = 7, s = 28
i = 8, s = 36
i = 9, s = 45
i = 10, s = 55
i = 11, s = 66
i = 12, s = 78
i = 13, s = 91
i = 14, s = 105
i = 15, s = 120
i = 16, s = 136
i = 17, s = 153
i = 18, s = 171
i = 19, s = 190
i = 20, s = 210
i = 21, s = 231
i = 22, s = 253
i = 23, s = 276
i = 24, s = 300
i = 25, s = 325
i = 26, s = 351
i = 27, s = 378
i = 28, s = 406
i = 29, s = 435
i = 30, s = 465
i = 31, s = 496
i = 32, s = 528
i = 33, s = 561
i = 34, s = 595
i = 35, s = 630
i = 36, s = 666
i = 37, s = 703
i = 38, s = 741
i = 39, s = 780
i = 40, s = 820
i = 41, s = 861
i = 42, s = 903
i = 43, s = 946
i = 44, s = 990
i = 45, s = 1035
i = 46, s = 1081
i = 47, s = 1128
i = 48, s = 1176
i = 49, s = 1225
i = 50, s = 1275
i = 51, s = 1326
i = 52, s = 1378
i = 53, s = 1431
i = 54, s = 1485
i = 55, s = 1540
i = 56, s = 1596
i = 57, s = 1653
i = 58, s = 1711
i = 59, s = 1770
i = 60, s = 1830
i = 61, s = 1891
i = 62, s = 1953
i = 63, s = 2016
i = 64, s = 2080
i = 65, s = 2145
i = 66, s = 2211
i = 67, s = 2278
i = 68, s = 2346
i = 69, s = 2415
i = 70, s = 2485
i = 71, s = 2556
i = 72, s = 2628
i = 73, s = 2701
i = 74, s = 2775
i = 75, s = 2850
i = 76, s = 2926
i = 77, s = 3003
i = 78, s = 3081
i = 79, s = 3160
i = 80, s = 3240
i = 81, s = 3321
i = 82, s = 3403
i = 83, s = 3486
i = 84, s = 3570
i = 85, s = 3655
i = 86, s = 3741
i = 87, s = 3828
i = 88, s = 3916
i = 89, s = 4005
i = 90, s = 4095
i = 91, s = 4186
i = 92, s = 4278
i = 93, s = 4371
i = 94, s = 4465
i = 95, s = 4560
i = 96, s = 4656
i = 97, s = 4753
i = 98, s = 4851
i = 99, s = 4950
i = 100, s = 5050
1에서 100까지의 합: 5050

In [ ]:
##LAB 3-8 /문제_2
for i in range(2, 101, 2):
  print("1에서 100까지의 짝수:",i)

1에서 100까지의 짝수: 2
1에서 100까지의 짝수: 4
1에서 100까지의 짝수: 6
1에서 100까지의 짝수: 8
1에서 100까지의 짝수: 10
1에서 100까지의 짝수: 12
1에서 100까지의 짝수: 14
1에서 100까지의 짝수: 16
1에서 100까지의 짝수: 18
1에서 100까지의 짝수: 20
1에서 100까지의 짝수: 22
1에서 100까지의 짝수: 24
1에서 100까지의 짝수: 26
1에서 100까지의 짝수: 28
1에서 100까지의 짝수: 30
1에서 100까지의 짝수: 32
1에서 100까지의 짝수: 34
1에서 100까지의 짝수: 36
1에서 100까지의 짝수: 38
1에서 100까지의 짝수: 40
1에서 100까지의 짝수: 42
1에서 100까지의 짝수: 44
1에서 100까지의 짝수: 46
1에서 100까지의 짝수: 48
1에서 100까지의 짝수: 50
1에서 100까지의 짝수: 52
1에서 100까지의 짝수: 54
1에서 100까지의 짝수: 56
1에서 100까지의 짝수: 58
1에서 100까지의 짝수: 60
1에서 100까지의 짝수: 62
1에서 100까지의 짝수: 64
1에서 100까지의 짝수: 66
1에서 100까지의 짝수: 68
1에서 100까지의 짝수: 70
1에서 100까지의 짝수: 72
1에서 100까지의 짝수: 74
1에서 100까지의 짝수: 76
1에서 100까지의 짝수: 78
1에서 100까지의 짝수: 80
1에서 100까지의 짝수: 82
1에서 100까지의 짝수: 84
1에서 100까지의 짝수: 86
1에서 100까지의 짝수: 88
1에서 100까지의 짝수: 90
1에서 100까지의 짝수: 92
1에서 100까지의 짝수: 94
1에서 100까지의 짝수: 96
1에서 100까지의 짝수: 98
1에서 100까지의 짝수: 100

In [ ]:
##LAB 3-8 /문제_3
for i in range(1,100,2):
  print("1에서 100까지의 홀수:",i)

1에서 100까지의 홀수: 1
1에서 100까지의 홀수: 3
1에서 100까지의 홀수: 5
1에서 100까지의 홀수: 7
1에서 100까지의 홀수: 9
1에서 100까지의 홀수: 11
1에서 100까지의 홀수: 13
1에서 100까지의 홀수: 15
1에서 100까지의 홀수: 17
1에서 100까지의 홀수: 19
1에서 100까지의 홀수: 21
1에서 100까지의 홀수: 23
1에서 100까지의 홀수: 25
1에서 100까지의 홀수: 27
1에서 100까지의 홀수: 29
1에서 100까지의 홀수: 31
1에서 100까지의 홀수: 33
1에서 100까지의 홀수: 35
1에서 100까지의 홀수: 37
1에서 100까지의 홀수: 39
1에서 100까지의 홀수: 41
1에서 100까지의 홀수: 43
1에서 100까지의 홀수: 45
1에서 100까지의 홀수: 47
1에서 100까지의 홀수: 49
1에서 100까지의 홀수: 51
1에서 100까지의 홀수: 53
1에서 100까지의 홀수: 55
1에서 100까지의 홀수: 57
1에서 100까지의 홀수: 59
1에서 100까지의 홀수: 61
1에서 100까지의 홀수: 63
1에서 100까지의 홀수: 65
1에서 100까지의 홀수: 67
1에서 100까지의 홀수: 69
1에서 100까지의 홀수: 71
1에서 100까지의 홀수: 73
1에서 100까지의 홀수: 75
1에서 100까지의 홀수: 77
1에서 100까지의 홀수: 79
1에서 100까지의 홀수: 81
1에서 100까지의 홀수: 83
1에서 100까지의 홀수: 85
1에서 100까지의 홀수: 87
1에서 100까지의 홀수: 89
1에서 100까지의 홀수: 91
1에서 100까지의 홀수: 93
1에서 100까지의 홀수: 95
1에서 100까지의 홀수: 97
1에서 100까지의 홀수: 99

In [ ]:
##LAB 3-9
n = 7
for i in range(1,n+1):
  print(" " * (n-i), '#' )

       #
      #
     #
    #
   #
  #
 #