In [1]:
##LAB 4-1 /문제_1
def print_star():
  print('**************')

In [ ]:
##LAB 4-1 /문제_2
def print_star():
  print('**************')

print_star()
print_star()
print_star()
print_star()
print_star()
print_star()

**************
**************
**************
**************
**************
**************

In [ ]:
##LAB 4-2
def print_star3():
  print('****************')
  print('****************')
  print('****************')
  print('****************')
  print('****************')


print_star3()
print_star3()

****************
****************
****************
****************
****************
****************
****************
****************
****************
****************

In [ ]:
##LAB 4-3
def print_hash():
  print('###############')

def print_star():
  print('***************')

def print_plus():
  print('+++++++++++++++')

print_hash()
print_star()
print_plus()
print_plus()
print_star()
print_hash()

###############
***************
+++++++++++++++
+++++++++++++++
***************
###############

In [ ]:
##LAB 4-4 /문제_1
def print_star(n):
  for _ in range(n):
    print('*****************')
print_star(10)

*****************
*****************
*****************
*****************
*****************
*****************
*****************
*****************
*****************
*****************

In [ ]:
##LAB 4-4 /문제_2
def print_hash(n):
  for _ in range(n):
    print('###################')
print_hash(10)

###################
###################
###################
###################
###################
###################
###################
###################
###################
###################

In [ ]:
##LAB 4-4 /문제_3

def print_hash(n):
  for _ in range(n):
    print('###################')
print_hash(6)

###################
###################
###################
###################
###################
###################

In [ ]:
##LAB 4-4 /문제_4

def print_hash(n):
  for _ in range(n):
    print(_,'###################')
    
  
print_hash(6)

0 ###################
1 ###################
2 ###################
3 ###################
4 ###################
5 ###################

In [ ]:
##LAB 4-5 /문제_1
def print_sub(a, b):
  result = a - b
  print(a,'과', b, '의 차는', result, '입니다.')

print_sub(10,20)

10 과 20 의 차는 -10 입니다.

In [ ]:
##LAB 4-5 /문제_2
def print_mult(a, b):
  result = a * b
  print(a,'과', b, '의 곱은', result, '입니다.')

print_mult(10,20)

10 과 20 의 곱은 200 입니다.

In [ ]:
##LAB 4-6 /문제_1
def print_root(a,b,c):
  r1 = (-b+(b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
  r2 = (-b - (b ** 2 - 4 * a *c) ** 0.5) / (2 * a)
  print('해는', r1,'또는',r2)

print_root(1, 4, -21)
print_root(1, -6, 8)

해는 3.0 또는 -7.0
해는 4.0 또는 2.0

In [ ]:
##LAB 4-6 /문제_2
def print_area(a,b):
  r = a * b / 2
  print('밑변 {}, 높이 {}인 삼각형의 면적은: {}'.format(a,b,int(r)))
print_area(10,20)

밑변 10, 높이 20인 삼각형의 면적은: 100

In [ ]:
##LAB 4-7
def circle_area_circum(radius):
  area = 3.14 * radius * radius
  circum = 2 * 3.14 * radius
  return area, circum

area, circum = circle_area_circum(10)
print('반지름 10인 원의 면적은 {}, 원의 둘레는 {:04.1f}'.format(area, circum))

반지름 10인 원의 면적은 314.0, 원의 둘레는 62.8

In [ ]:
##LAB 4-8
def multiplies(n, m):
  res = list()
  for i in range(1, m+1):
    res.append(n * i)
  return res

r1, r2, r3, r4 = multiplies(3, 4)
print(r1, r2, r3, r4)
r1, r2, r3, r4, r5 = multiplies(2, 5)
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

In [ ]:
##LAB 4-9 /문제_a
def print_name(honorifics, first_name, last_name):
  print(honorifics, first_name, last_name)

print_name(first_name = 'Gildong', last_name = 'Hong', honorifics = 'Dr.')

Dr. Gildong Hong

In [ ]:
##LAB 4-9 /문제_b
def print_name(honorifics, first_name, last_name):
  print(honorifics, first_name, last_name)

print_name('Gildong', 'Hong', 'Dr.')

Gildong Hong Dr.

In [ ]:
##LAB 4-10 /문제_1
def sum_nums(*numbers):
  result = 0
  for n in numbers:
      result += n
      avg = result / len(numbers)
  print('{}개의 인자 {}'.format(len(numbers),numbers))
  print('합계:', result, '평균:', avg)
sum_nums(10,20,30)

3개의 인자 (10, 20, 30)
합계: 60 평균: 20.0

In [ ]:
##LAB 4-10 /문제_2
def sum_nums(*numbers):
  result = 0
  for n in numbers:
      result += n
      avg = result / len(numbers)
  print('{}개의 인자 {}'.format(len(numbers),numbers))
  print('합계:', result, '평균:', avg)
  
sum_nums(10,20,30,40,50)

5개의 인자 (10, 20, 30, 40, 50)
합계: 150 평균: 30.0

In [ ]:
##LAB 4-10 /문제_3
def min_nums(*inte):
  minimum = min(inte)
  print('최솟값은', minimum)

min_nums(20,40,50,10)

최솟값은 10

In [ ]:
##LAB 4-11 /문제_1
name = input('당신의 이름을 입력헤주세요 :')
age = input('나이를 입력해주세요 :')
work = input('직업을 입력해주세요 :')
address = input('사는 곳을 입력해 주세요 :')
print('당싱의 이름은 {}, 나이는 {}살, 직업은 {}, 사는 곳은 {}입니다.'.format(name,age,work,address))

당신의 이름을 입력헤주세요 :김철수
나이를 입력해주세요 :21
직업을 입력해주세요 :학생
사는 곳을 입력해 주세요 :창원시
당싱의 이름은 김철수, 나이는 21살, 직업은 학생, 사는 곳은 창원시입니다.

In [ ]:
##LAB 4-11 /문제_2
name = input('당신의 이름을 입력헤주세요 :')
age = input('나이를 입력해주세요 :')
work = input('직업을 입력해주세요 :')
address = input('사는 곳을 입력해 주세요 :')
print('당싱의 이름은', name, ',나이는', age,'살, 직업은', work, '사는 곳은', address,'입니다.')

당신의 이름을 입력헤주세요 :김철수
나이를 입력해주세요 :21
직업을 입력해주세요 :학생
사는 곳을 입력해 주세요 :차원시
당싱의 이름은 김철수 ,나이는 21 살, 직업은 학생 사는 곳은 차원시 입니다.

In [ ]:
##LAB 4-12 /문제_1
'_'.join('ABCD')

'A_B_C_D'

In [ ]:
##LAB 4-12 /문제_2
s1 = 'My favorite thing is monsters.'
s1.replace('monsters','cartoons')

'My favorite thing is cartoons.'