In [ ]:
##LAB 5-1 /문제_1
even_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("even_list =",[even_list[1],even_list[3],even_list[5],even_list[7],even_list[9]])

even_list = [2, 4, 6, 8, 10]

In [ ]:
##LAB 5-1 /문제_2
even_list = list(range(2,11,2))
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

In [ ]:
##LAB 5-1 /문제_3
nation_list = ['Korea', 'China', 'India', 'Nepal']
print("nations =",nation_list)

nations = ['Korea', 'China', 'India', 'Nepal']

In [ ]:
##LAB 5-1 /문제_4
friends = ['길동', '철수', '은지', '지은', '영민']
print("friends =",friends)

friends = ['길동', '철수', '은지', '지은', '영민']

In [ ]:
##LAB 5-1 /문제_5
string = ['X', 'Y', 'Z']
print("string =",string)

string = ['X', 'Y', 'Z']

In [ ]:
##LAB 5-2 /문제_1
prime_list = ['2', '3', '5', '7']
print("prime_list의 첫 원소:",prime_list[0] )

prime_list의 첫 원소: 2

In [ ]:
##LAB 5-2 /문제_2
prime_list = ['2', '3', '5', '7']
print("prime_list의 마지막 원소:",prime_list[3] )

prime_list의 마지막 원소: 7

In [ ]:
##LAB 5-2 /문제_3
prime_list = ['2', '3', '5', '7']
print("prime_list의 마지막 원소:",prime_list[-1] )

prime_list의 마지막 원소: 7

In [ ]:
##LAB 5-2 /문제_4
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations 첫 원소:", nations[0])

nations 첫 원소: Korea

In [ ]:
##LAB 5-2 /문제_5
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations 마지막 원소:", nations[3])

nations 마지막 원소: Malaysia

In [ ]:
##LAB 5-2 /문제_6
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations 마지막 원소:", nations[-1])

nations 마지막 원소: Malaysia

In [ ]:
##LAB 5-3 /문제_1
prime_list = ['2', '3', '5','7']
print("소수 목록: [{}, {}, {}, {}]".format(prime_list[0],prime_list[1],prime_list[2],prime_list[3]))
prime_list.append('11')
print("추가 후 소수 목록: [{}, {}, {}, {}, {}]".format(prime_list[0],prime_list[1],prime_list[2],prime_list[3],prime_list[4]))

소수 목록: [2, 3, 5, 7]
추가 후 소수 목록: [2, 3, 5, 7, 11]

In [ ]:
##LAB 5-3 /문제_2
prime_list = ['2', '3', '5','7','11']
print("삭제 전 소수 목록: [{}, {}, {}, {}, {}]".format(prime_list[0],prime_list[1],prime_list[2],prime_list[3],prime_list[4]))
prime_list.remove('3')
print("삭제 후 소수 목록: [{}, {}, {}, {}]".format(prime_list[0],prime_list[1],prime_list[2],prime_list[3]))

삭제 전 소수 목록: [2, 3, 5, 7, 11]
삭제 후 소수 목록: [2, 5, 7, 11]

In [ ]:
##LAB 5-3 /문제_3
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :",nations)
nations.append('Nepal')
print("추가 후 국가 목록 :",nations)

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

In [ ]:
##LAB 5-3 /문제_4
nations = ['Korea', 'China', 'Russia', 'Malaysia']
if('Russia' in nations):
  print("Russia 는/은 국가 목록에 있습니다.")
else:
  print("No")
if('Japan' in nations):
  print("Yes")
else:
  print("Japan 는/은 국가 목록에 없습니다.")

Russia 는/은 국가 목록에 있습니다.
Japan 는/은 국가 목록에 없습니다.

In [ ]:
##LAB 5-4 /문제_1
prime_list = [2, 3, 5, 7]
print("1에서 10까지의 소수 : ", [prime_list[0],prime_list[1],prime_list[2],prime_list[3]])
print("최솟값 :",min(prime_list))
print("최댓값 :",max(prime_list))
print("합계 :",sum(prime_list))
print("평균 :",len(prime_list))

1에서 10까지의 소수 :  [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4

In [ ]:
##LAB 5-4 /문제_2
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :",nations)
print("사전에 가장 먼저 나오는 나라 :", min(nations))
print("사전에 가장 뒤에 나오는 나라 :", max(nations))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

In [ ]:
##LAB 5-5 /문제_1
a = [1, 2, 3]
b = [10, 20, 30]
a.append(b)
a

[1, 2, 3, [10, 20, 30]]

In [ ]:
##LAB 5-5 /문제_1_2
a = [1, 2, 3]
b = [10, 20, 30]
a.extend(b)
a

[1, 2, 3, 10, 20, 30]

In [ ]:
##LAB 5-5 /문제_2
nlist = [5, 4, 7, 1, 2, 9, 3, 10, 6, 8]
nlist.sort()
print("nlist =",nlist)

nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
##LAB 5-5 /문제_3
nlist = [5, 4, 7, 1, 2, 9, 3, 10, 6, 8]
nlist.sort()
nlist.insert(0, 0)
print("nlist =",nlist)

nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
##LAB 5-5 /문제_4
nlist = [5, 4, 7, 1, 2, 9, 3, 10, 6, 8]
nlist.sort()
nlist.insert(0, 0)
nlist.reverse()
print("nlist =",nlist)

nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
##LAB 5-5 /문제_5
nlist = [5, 4, 7, 1, 2, 9, 3, 10, 6, 8]
nlist.sort()
nlist.insert(0, 0)
nlist.reverse()
a = nlist.pop(10)
print("마지막 원소 = {} \nnlist = {}".format(a, nlist))

마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
##LAB 5-6
slist = [1, 2, 3]
n = int(input("반복할 정수를 입력하시오 : "))
print(slist * n)

반복할 정수를 입력하시오 : 4
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
##LAB 5-7 /문제_1
n_list = list(range(15))
print("n_list =",n_list)

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
##LAB 5-7 /문제_2
n_list = list(range(15))
print("s_list1 =",n_list[0:5])
print("s_list2 =",n_list[6:11])
print("s_list3 =",n_list[11:15])
print("s_list4 =",n_list[2:11:2])
a = n_list[::-1]
print("s_list5 =",a[4:9])
print("s_list6 =",a[4:13:2])

s_list1 = [0, 1, 2, 3, 4]
s_list2 = [6, 7, 8, 9, 10]
s_list3 = [11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]

In [ ]:
##LAB 6-1 /문제_1
capital_dic = {
    'Korea' : 'Seoul',
    'China' : 'Beijing',
    'USA'   : 'Washington DC'

}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

In [ ]:
##LAB 6-1 /문제_2
fruits_dic = {
    'apple' : 5000,
    'banana' : 4000,
    'grape' : 5300,
    'melon' : 6500,

}
print("apple의 가격은 {}원입니다. \nbanana의 가격은 {}원입니다. \ngrape의 가격은 {}원입니다. \nmelon의 가격은 {}원입니다. "
.format(fruits_dic['apple'],fruits_dic['banana'],fruits_dic['grape'],fruits_dic['melon']))

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

In [ ]:
##LAB 6-2 
person = {
    '이름' : '홍길동',
    '나이' : 26,
    '몸무게' : 82,
}
person['특기'] = '분신술'
person['아버지'] = '홍판사'
del person['나이']
person

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판사'}

In [ ]:
##LAB 6-3
capital_dic = {
    'Korea' : 'Seoul',
    'China' : 'Beijing',
    'USA' : 'Washington DC'
}
print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

In [ ]:
##LAB 6-4
fruits_dic = {
    'apple' : 6000,
    'melon' : 3000,
    'banana' : 5000,
    'orange' : 7000
}
print(fruits_dic.keys())
print(fruits_dic.values())
fruits_dic.pop('apple')
fruits_dic.clear()
fruits_dic

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])

{}

In [ ]:
##LAB 6-5 /문제_1
fruits_dic = {
    'apple' : 6000,
    'melon' : 3000,
    'banana' : 5000,
    'orange' : 4000,
}
key_list = list(fruits_dic.keys())
print(key_list)

['apple', 'melon', 'banana', 'orange']

In [ ]:
##LAB 6-5 /문제_2
fruits_dic = {
    'apple' : 6000,
    'melon' : 3000,
    'banana' : 5000,
    'orange' : 4000,
}
values_list = list(fruits_dic.values())
print(values_list)

[6000, 3000, 5000, 4000]

In [ ]:
##LAB 6-5 /문제_3
fruits_dic = {
    'apple' : 6000,
    'melon' : 3000,
    'banana' : 5000,
    'orange' : 4000,
}
print("fruits_dic 딕셔너리의 항목의 개수 : ",len(fruits_dic))

fruits_dic 딕셔너리의 항목의 개수 :  4

In [ ]:
##LAB 6-5 /문제_4
fruits_dic = {
    'apple' : 6000,
    'melon' : 3000,
    'banana' : 5000,
    'orange' : 4000,
}

if 'apple' in fruits_dic and 'mango' in fruits_dic:
  print("apple is in fruits_dic. \nmango is in fruits_dic")
elif 'apple' in fruits_dic and 'mango' not in  fruits_dic:
  print("apple is in fruits_dic. \nmango is not in fruits_dic")
elif 'apple' not in fruits_dic and 'mango' in  fruits_dic:
  print("apple is not in fruits_dic. \nmango is in fruits_dic")
else:
  print("apple is not in fruits_dic. \nmango is not in fruits_dic")

apple is in fruits_dic.
mango is not in fruits_dic

In [ ]:
##LAB 6-6 /문제_1
the_day = (1919, 3, 1)
year, month, day = the_day
print("{}년 {}월 {}일은 삼일절입니다".format(year, month, day))

1919년 3월 1일은 삼일절입니다

In [ ]:
##LAB 6-6 /문제_2
list1 = (10, 20, 30)
a, b, c = list1
a, c = c, a
print("a = {} \nb = {} \nc = {} \n".format(a, b, c))

a = 30
b = 20
c = 10

In [ ]:
##LAB 6-7
person = ('홍길동', 2019001, 179)

print("person = ", person)

a_list = list(person)
a_list[1] = '2019003'
person = tuple(a_list)
print("학번 변동 후 person =", person)

person =  ('홍길동', 2019001, 179)
학번 변동 후 person = ('홍길동', '2019003', 179)

In [ ]:
##LAB 6-8 /문제_1
(10, 20, 30) + (40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [ ]:
##LAB 6-8 /문제_2
print('Hello' * 3)
print(('Hello ',) * 3)

HelloHelloHello
('Hello ', 'Hello ', 'Hello ')

In [ ]:
##LAB 6-9 /문제_1
lst = ['apple', 'mango', 'banana']
print("lst =", lst)
lst_set = set(lst)
print("s1 =", lst_set)

lst = ['apple', 'mango', 'banana']
s1 = {'mango', 'apple', 'banana'}

In [ ]:
##LAB 6-9 /문제_2
greet = 'Good afternoon'
s2 = set(greet)
print("s2 =", s2)

s2 = {' ', 'G', 'a', 't', 'e', 'o', 'd', 'r', 'n', 'f'}

In [ ]:
##LAB 6-10
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

In [ ]:
##LAB 6-11
def product_set(A, B):
  res = set()
  for i in A:
    for j in B:
      res = res | {(i,j)}
  return res

A = {1, 2}
B = {'A', 'B', 'C'}
AxB = product_set(A,B)
BxA = product_set(B,A)
AxA = product_set(A,A)
BxB = product_set(B,B)
print('A =',A)
print('B =',B)
print('AxB =', AxB)
print('BxA =', BxA)
print('AxA =', AxA)
print('BxB =', BxB)

A = {1, 2}
B = {'C', 'B', 'A'}
AxB = {(1, 'A'), (1, 'B'), (2, 'B'), (1, 'C'), (2, 'C'), (2, 'A')}
BxA = {('B', 2), ('C', 1), ('C', 2), ('A', 1), ('B', 1), ('A', 2)}
AxA = {(1, 2), (1, 1), (2, 1), (2, 2)}
BxB = {('A', 'C'), ('B', 'C'), ('B', 'B'), ('A', 'A'), ('C', 'C'), ('A', 'B'), ('B', 'A'), ('C', 'A'), ('C', 'B')}

In [ ]:
##LAB 6-12

def tuple_sum(tup) :
  if isinstance(tup, int) : 
    return tup
  else:
    accum = 0
    for element in tup : 
      accum += tuple_sum(element)
  return accum
def product_set(set1, set2) :
  res = set()
  for i in set1:
    for j in set2:
      res = res | {(i,j)}
  return res
cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)
sums = [tuple_sum(tup) for tup in cases_3times]

print("주사위를 세 번 단져 발생할 수 있는 사건은 {} 가지 경우가 존재합니다.".format(len(sums)))

주사위를 세 번 단져 발생할 수 있는 사건은 216 가지 경우가 존재합니다.

In [ ]:
def tuple_sum(tup) :
  if isinstance(tup, int) : 
    return tup
  else:
    accum = 0
    for element in tup : 
      accum += tuple_sum(element)
  return accum
def product_set(set1, set2) :
  res = set()
  for i in set1:
    for j in set2:
      res = res | {(i,j)}
  return res
cases = { 1, 2, 3, 4, 5, 6 }
cases_2times = product_set(cases, cases)
cases_3times = product_set(cases, cases_2times)
sums = [tuple_sum(tup) for tup in cases_3times]
  sums =

216