01주차: 컴퓨팅사고와 SW coding
2019117112_멘두요

In [ ]:
print(100 + 200)
print('100 + 200')
print(100, 200)
print('100', '200')
print('Hello', 'Python', '!')
print('Hello' + 'Python' + '!')
print('Hello''Python''!')
print('*' * 10)

300
100 + 200
100 200
100 200
Hello Phyton !
HelloPhyton!
HelloPyhton!
**********

In [ ]:
print('Hello python!') #NameError: name 'Print' is not defined
print("Hello python!") #SyntaxError: EOL while scanning string literal
print('Hello Python!') #SyntaxError: invalid syntax
print('100' + '200') #TypeError: unsupported operand type(s) for +: 'int' and 'str'

Hello python!
Hello python!
Hello Python!
100200

In [ ]:
print('50 + 30 =', 50 + 30)
print('50 - 30 =', 50 - 30)
print('50 * 30 =', 50 * 30)
print('50 / 30 =', 50 / 30)

50 + 30 = 80
50 - 30 = 20
50 * 30 = 1500
50 / 30 = 1.6666666666666667

In [ ]:
side = int(input()) 
c = '*' 
for i in range(side):
    print((c*i).rjust(side-1)+c+(c*i).ljust(side-1))

4
   *
  ***
 *****
*******

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(3))
print(factorial(5))
print(factorial(12))
print(factorial(20))

6
120
479001600
2432902008176640000