In [1]:
##LAB 10-1 /문제_1
def sub(a, b):
  return a - b

print('{} - {} = {}'.format(200, 100, sub(200, 100)))

200 - 100 = 100

In [2]:
##LAB 10-1 /문제_2
print(' 200 - 100 = {}'.format( (lambda x, y : x - y )(200, 100)))

 200 - 100 = 100

In [3]:
##LAB 10-2 /문제_1
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = []
for n in filter(lambda x: x % 2 == 0, n_list):
    even_list.append(n)

print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

In [4]:
##LAB 10-2 /문제_1-2
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_list = list(filter(lambda x: x % 2 == 0, n_list))
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10]

In [5]:
##LAB 10-2 /문제_2
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_list = []
for n in filter(lambda x: x % 2 == 1, n_list):
    odd_list.append(n)

print('odd_list =', odd_list)

odd_list = [1, 3, 5, 7, 9]

In [6]:
##LAB 10-2 /문제_2-2
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_list = list(filter(lambda x: x % 2 == 1, n_list))
print('odd_list =', odd_list)

odd_list = [1, 3, 5, 7, 9]

In [7]:
##LAB 10-3 /문제_1
def to_upper(x):
  return x.upper()

a_list = ['a', 'b', 'c', 'd']

upper_a_list = list(map(to_upper, a_list))
print('upper_a_list =', upper_a_list)

upper_a_list = ['A', 'B', 'C', 'D']

In [8]:
##LAB 10-3 /문제_1-2
a_list = ['a', 'b', 'c', 'd']

upper_a_list = list(map(lambda x: x.upper(), a_list))
print('upper_a_list =', upper_a_list)

upper_a_list = ['A', 'B', 'C', 'D']

In [9]:
##LAB 10-3 /문제_2
def twice(x):
  return x * 2

def triple(x):
  return x * 3

n_list = [10, 20, 30]
twice_list = list(map(twice, n_list))
print('입력 값의 두 배 :', twice_list)

입력 값의 두 배 : [20, 40, 60]

In [10]:
##LAB 10-3 /문제_2-2
triple_list = list(map(triple, n_list))
print('입력 값의 세 배 :', triple_list)

입력 값의 세 배 : [30, 60, 90]

In [11]:
##LAB 10-4 /문제_1
from functools import reduce

n = reduce(lambda x, y: x + y, range(1, 101))
print('1에서 100까지의 합 :', n)

1에서 100까지의 합 : 5050

In [12]:
##LAB 10-4 /문제_2
from functools import reduce

n = reduce(lambda x, y: x * y, range(1, 11))
print('10! =', n)

10! = 3628800

In [13]:
##LAB 10-5 /문제_1
cubic = [x**3 for x in range(1, 11)]
print('cubic =', cubic)

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [15]:
##LAB 10-5 /문제_2
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [ word[0] for word in a]
print('a =', a)
print('first_a =', first_a)

a = ['welcome', 'to', 'the', 'python', 'world']
first_a = ['w', 't', 't', 'p', 'w']

In [16]:
##LAB 10-6 /문제_1
cubic = [x**3 for x in range(1, 11) if x**3 <= 500]
print('cubic =', cubic)

cubic = [1, 8, 27, 64, 125, 216, 343]

In [17]:
##LAB 10-6 /문제_2
import string

st = 'Hello 1234 Python'
digit = [x for x in st if x.isdigit()]
print(digit)

['1', '2', '3', '4']

In [18]:
##LAB 10-7 /문제_1
class EvenCounter():
  def __init__(self, n=0):
    self.n = n
  
  def __iter__(self):
    return self

  def __next__(self):
    t = self.n
    self.n += 2
    return t

my_even = EvenCounter()
for x in my_even:
  print(x, end = ' ')
  if x >= 7:
    break

0 2 4 6 8

In [19]:
##LAB 10-7 /문제_2
class EvenCounter():
  def __init__(self, n=0):
    self.n = n
  
  def __iter__(self):
    return self

  def __next__(self):
    t = self.n
    self.n += 2
    return t

my_even = EvenCounter()
for x in my_even:
  print(x, end = ' ')
  if x >= 19:
    break

0 2 4 6 8 10 12 14 16 18 20

In [20]:
##LAB 10-8 /문제_1
txt = 'Welcome to Busan Metropolitan City.'
txt.split()

['Welcome', 'to', 'Busan', 'Metropolitan', 'City.']

In [21]:
##LAB 10-8 /문제_2
greet = 'Hello,My name is DongMin,Good to see you again'
greet.split(',')

['Hello', 'My name is DongMin', 'Good to see you again']

In [26]:
##LAB 10-8 /문제_3
fruits = 'Apple|Banana|Melon|Orange'.split('|')
print("fruits =",fruits)

fruits = ['Apple', 'Banana', 'Melon', 'Orange']